<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"  media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
</head>
<body>
<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-sm" lay-event="add">添加</a>
        <a class="layui-btn layui-btn-sm" lay-event="update">修改</a>
        <a class="layui-btn layui-btn-sm" lay-event="delete">删除</a>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    aid=document.cookie.substring(4,5);
    var account="";
    $.ajax({
        url: "account/findById",
        type: 'POST',
        data: {
            'id': aid,
        },
        success:function (data) {
            account=data;
        },
        error:function (data) {

        }
    });
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });

    $(function () {
        //编辑
        update = function(data){
            layui.use('layer', function(){
                var layer = layui.layer;
                layer.open({
                    title: ['修改用户信息'],
                    type: 2,
                    content: 'page/gameCommentUpdate.html',
                    shadeClose: true,
                    area: ['550px', '550px'],
                    btn: ['确定', '取消'],
                    success: function (layero,index) {
                        var body = layui.layer.getChildFrame('body', index);
                        body.find(".id").val(data.id);
                        body.find(".content").val(data.content);
                        body.find(".goodOrBad").val(data.goodOrBad);
                        body.find(".grade").val(data.grade);
                        body.find(".ip").val(data.ip);
                        body.find(".time").val(data.time);
                        layui.form.render();
                        layui.form.verify();
                    },
                    btn1: function(index, layero){
                        var body = layui.layer.getChildFrame('body', index);
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        $.ajax({
                            url:"gameComment/update",
                            type:'POST',
                            data:{
                                'id':body.find('.id').val(),
                                'content':body.find('.content').val(),
                                'goodOrBad':body.find('.goodOrBad').val(),
                                'grade':body.find('.grade').val(),
                                'ip':body.find('.ip').val(),
                            },
                            dataType:'json',
                            success:function(data){
                                layer.closeAll();
                                layer.msg(data.reason);
                            },
                            error:function (data) {
                                layer.closeAll();
                                layer.msg(data.reason);
                            }
                        });
                    },
                    btn2: function(index, layero){
                        layer.closeAll();
                    },
                    cancel:function () {
                        window.location.reload();
                    },
                    end:function () {
                        window.location.reload();
                    }
                });

            });
        }


        //编辑
        add = function(){
            layui.use('layer', function(){
                var layer = layui.layer;
                layer.open({
                    title: ['添加用户信息'],
                    type: 2,
                    content: 'page/gameCommentAdd.html',
                    shadeClose: true,
                    area: ['650px', '550px'],
                    btn: ['确定', '取消'],
                    btn1: function(index, layero){
                        var body = layui.layer.getChildFrame('body', index);
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        $.ajax({
                            url:"gameComment/save",
                            type:'POST',
                            data:{
                                'aid':account.data.id,
                                'gid':body.find('.gid').val(),
                                'content':body.find('.content').val(),
                                'goodOrBad':body.find('.goodOrBad').val(),
                                'grade':body.find('.grade').val(),
                                'ip':body.find('.ip').val(),
                            },
                            dataType:'json',
                            success:function(data){
                                layer.closeAll();
                                if (data.error_code==0){
                                    layer.msg(data.reason);
                                }else {
                                    layer.msg(data.reason);
                                }
                            }
                        });
                    },
                    btn2: function(index, layero){
                        layer.closeAll();
                    },
                    cancel:function () {
                        window.location.reload();
                    },
                    end:function () {
                        window.location.reload();
                    }
                });

            });
        }
    });

</script>

<script>
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url:'Comment/GameCFindALl'
            ,toolbar: '#toolbarDemo'
            ,tool: '#barDemo'
            ,title: '新闻数据表'
            ,totalRow: true
            ,cols: [ [
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true, totalRowText: '合计'}
                ,{field:'gid', title:'游戏id', width:120}
                ,{field:'gameName', title:'游戏名', width:120}
                ,{field:'aid', title:'账户id', width:120}
                ,{field:'accountName', title:'账户名', width:120}
                ,{field:'accountLogo', title:'账户图片', width:120}
                ,{field:'content', title:'内容', width:120}
                ,{field:'goodOrBad', title:'好评或差评', width:120}
                ,{field:'grade', title:'评分', width:120}
                ,{field:'ip', title:'ip地址', width:120}
                ,{field:'time', title:'发布时间', width:120}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:200},
            ] ]
            ,page: true
        });

        //工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
                ,data = checkStatus.data;
            switch(obj.event){
                case 'add':
                    add();
                    break;
                case 'update':
                    if(data.length === 0){
                        layer.msg('请选择一行');
                    } else if(data.length > 1){
                        layer.msg('只能同时编辑一个');
                    } else {
                        var userdata =  data[0];
                        update(userdata);
                    }
                    break;
                case 'delete':
                    if(data.length === 0){
                        layer.msg('请选择一行');
                    } else {
                        layer.confirm("是否确认删除？",function () {
                            for(var i=0;i<data.length;i++){
                                var uid = data[i].id;
                                console.log(uid);
                                $.ajax({
                                    type:"post",
                                    url:'gameComment/delete',
                                    data:{
                                        'id':uid,
                                    },
                                    dataType:'json',
                                    success:function(data){
                                        layer.closeAll();
                                        layer.msg(data.reason);
                                        window.location.reload();
                                    }
                                });
                            }
                        });
                    }
                    break;
            };
        });

        //监听工具条
        table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.alert('查看：<br>'+ JSON.stringify(data))
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                    console.log(data);
                    var uid=data.id;
                    console.log(uid);
                    $.ajax({
                        type:"post",
                        url:'gameComment/delete',
                        data:{
                            'id':uid,
                        },
                        dataType:'json',
                        success:function(data){
                            layer.closeAll();
                            layer.msg(data.reason);
                            window.location.reload();
                        }
                    });
                });
            } else if(obj.event === 'edit'){
                update(data);
            }
        });
    });
</script>
</body>
</html>