<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"  media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>

    <style>
        .zhuti1{
            width: 20%;
            height: 200px;
            margin-left: 4%;
            margin-top: 50px;
            overflow: hidden;
        }
        .tupian{
            height: 180px;
            width: 100%;
        }
        .wenzi{
            color: #FFFFFF;
            height: 20px;
            width: 100%;
        }
        .juzhong{
            margin:auto;
        }

    </style>
    <script th:inline="javascript" >
        var s= [[${aid}]];
        s=parent.f();
        var num= [[${msg}]];
        console.log("fadgasv")
    </script>
</head>
<body style="background: #242424">
<!--轮播图-->
<div style="height: 100%;width: 100%;overflow: hidden">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" style="width: 100%" role="listbox">
            <div  style="width: 100%" class="item active">
                <img style="width: 100%" src="img/01.jpg" alt="...">

            </div>
            <div  style="width: 100%" class="item" >
                <img  style="width: 100%" src="img/02.jpg" alt="...">

            </div>
            <div  style="width: 100%" class="item">
                <img  style="width: 100%" src="img/03.jpg" alt="...">

            </div>
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<p style="margin: 20px 50px;font-size: 18px;color: white ">有那些好玩的</p>
<!--主体第一部分-->
<div class="container-fluid ">
    <!--2.定义行-->
    <div class="row">
        <div class="col-lg-3 zhuti1" onclick="sel(0)" >
            <div class="col-lg-3 tupian">
                <img id="img_1" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_1">想加什么加</p>
            </div>
        </div>
        <div class="col-lg-3 zhuti1" onclick="sel(1)" >
            <div class="col-lg-3 tupian">
                <img id="img_2" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_2">想加什么加</p>
            </div>
        </div>
        <div class="col-lg-3 zhuti1" onclick="sel(2)">
            <div class="col-lg-3 tupian">
                <img id="img_3" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_3">想加什么加</p>
            </div>
        </div>
        <div class="col-lg-3 zhuti1" onclick="sel(3)" >
            <div class="col-lg-3 tupian">
                <img id="img_4" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_4">想加什么加</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <!--2.定义行-->
    <div class="row">
        <div class="col-lg-3 zhuti1" onclick="sel(4)" >
            <div class="col-lg-3 tupian">
                <img id="img_5" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_5">想加什么加</p>
            </div>
        </div>
        <div class="col-lg-3 zhuti1" onclick="sel(5)" >
            <div class="col-lg-3 tupian">
                <img id="img_6" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_6">想加什么加</p>
            </div>
        </div>
        <div class="col-lg-3 zhuti1" onclick="sel(6)" >
            <div class="col-lg-3 tupian">
                <img id="img_7" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_7">想加什么加</p>
            </div>
        </div>
        <div class="col-lg-3 zhuti1" onclick="sel(7)" >
            <div class="col-lg-3 tupian">
                <img id="img_8" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_8">想加什么加</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <!--2.定义行-->
    <div class="row">
        <div class="col-lg-3 zhuti1" onclick="sel(8)" >
            <div class="col-lg-3 tupian">
                <img id="img_9" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_9">想加什么加</p>
            </div>
        </div>
        <div class="col-lg-3 zhuti1" onclick="sel(9)" >
            <div class="col-lg-3 tupian">
                <img id="img_10" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_10">想加什么加</p>
            </div>
        </div>
        <div class="col-lg-3 zhuti1" onclick="sel(10)">
            <div class="col-lg-3 tupian">
                <img id="img_11" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_11">想加什么加</p>
            </div>
        </div>
        <div class="col-lg-3 zhuti1" onclick="sel(11)">
            <div class="col-lg-3 tupian">
                <img id="img_12" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_12">想加什么加</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <!--2.定义行-->
    <div class="row">
        <div class="col-lg-3 zhuti1" onclick="sel(12)" >
            <div class="col-lg-3 tupian">
                <img id="img_13" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_13">想加什么加</p>
            </div>
        </div>
        <div class="col-lg-3 zhuti1" onclick="sel(13)" >
            <div class="col-lg-3 tupian">
                <img id="img_14" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_14">想加什么加</p>
            </div>
        </div>
        <div class="col-lg-3 zhuti1" onclick="sel(14)">
            <div class="col-lg-3 tupian">
                <img id="img_15" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_15">想加什么加</p>
            </div>
        </div>
        <div class="col-lg-3 zhuti1" onclick="sel(15)">
            <div class="col-lg-3 tupian">
                <img id="img_16" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_16">想加什么加</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <!--2.定义行-->
    <div class="row">
        <div class="col-lg-3 zhuti1" onclick="sel(16)">
            <div class="col-lg-3 tupian">
                <img id="img_17" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_17">想加什么加</p>
            </div>
        </div>
        <div class="col-lg-3 zhuti1" onclick="sel(17)">
            <div class="col-lg-3 tupian">
                <img id="img_18" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_18">想加什么加</p>
            </div>
        </div>
        <div class="col-lg-3 zhuti1" onclick="sel(18)">
            <div class="col-lg-3 tupian">
                <img id="img_19" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_19">想加什么加</p>
            </div>
        </div>
        <div class="col-lg-3 zhuti1" onclick="sel(19)">
            <div class="col-lg-3 tupian">
                <img id="img_20" src="img/1.png" class="tupian"/>
            </div>
            <div class="col-lg-3 wenzi">
                <p id="p_20">想加什么加</p>
            </div>
        </div>
    </div>
</div>
<script>
    var	data="";
    $.ajax({
        url: "GameDM/find20",
        type: 'GET',
        success:function (s) {
            data=s;
            for (var i = 0; i < data.data.length; i++) {
                if(data.data[i].imgs==""){
                    $("#img_"+(i+1)).attr("src", "img/wu.jpg")
                    s=data.data[i].name;
                    document.getElementById("p_"+(i+1)).innerText=s
                }else{
                    $("#img_"+(i+1)).attr("src", ""+data.data[i].imgs+"")
                    s=data.data[i].name
                    document.getElementById("p_"+(i+1)).innerText=s
                }
            }
        },
        error:function (data) {

        }
    });

    function sel(index){
        if(index<(data.data.length)){
            console.log(data.data[index].id)
            window.location.href="game_one?id="+data.data[index].id;
        }else{
            alert("没得")
        }
    }
</script>
</body>
</html>