<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"  media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
</head>
<body>
<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-sm" lay-event="add">添加</a>
        <a class="layui-btn layui-btn-sm" lay-event="update">修改</a>
        <a class="layui-btn layui-btn-sm" lay-event="delete">删除</a>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    aid=document.cookie.substring(4,5);
    var account="";
    $.ajax({
        url: "account/findById",
        type: 'POST',
        data: {
            'id': aid,
        },
        success:function (data) {
            account=data;
        },
        error:function (data) {

        }
    });
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

        //…
    });

    $(function () {
        //编辑
        update = function(data){
            layui.use('layer', function(){
                var layer = layui.layer;
                layer.open({
                    title: ['修改用户信息'],
                    type: 2,
                    content: 'page/newsUpdate.html',
                    shadeClose: true,
                    area: ['550px', '550px'],
                    btn: ['确定', '取消'],
                    success: function (layero,index) {
                        var body = layui.layer.getChildFrame('body', index);
                        body.find(".id").val(data.id)
                        body.find(".name").val(data.name);
                        body.find(".logo").val(data.logo);
                        body.find(".title").val(data.title);
                        body.find(".writer").val(data.writer);
                        body.find(".time").val(data.time);
                        body.find(".content").val(data.content);
                        body.find(".videos").val(data.videos);
                        body.find(".imgs").val(data.imgs);
                        body.find(".ip").val(data.ip);
                        body.find(".status").val(data.status);
                        body.find(".views").val(data.views);
                        body.find(".goods").val(data.goods);
                        body.find(".bads").val(data.bads);
                        layui.form.render();
                        layui.form.verify();
                    },
                    btn1: function(index, layero){
                        var body = layui.layer.getChildFrame('body', index);
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        $.ajax({
                            url:"news/update",
                            type:'POST',
                            data:{
                                'id':body.find('.id').val(),
                                'title':body.find('.title').val(),
                                'writer':body.find('.writer').val(),
                                'time':body.find('.time').val(),
                                'content':body.find('.content').val(),
                                'videos':body.find('.videos').val(),
                                'imgs':body.find('.imgs').val(),
                                'ip':body.find('.ip').val(),
                                'status':body.find('.status').val(),
                            },
                            dataType:'json',
                            success:function(data){
                                $.ajax({
                                    url: "newsMutual/update",
                                    type: 'POST',
                                    data: {
                                        'nid': body.find('.id').val(),
                                        'views':body.find('.views').val(),
                                        'goods':body.find('.goods').val(),
                                        'bads':body.find('.bads').val(),
                                    },
                                    success:function (data) {
                                        layer.closeAll();
                                        layer.msg(data.reason);
                                        window.location.reload();
                                    },
                                    error:function (data) {
                                        layer.closeAll();
                                        layer.msg(data.reason);
                                        window.location.reload();
                                    }
                                });
                            }
                        });
                    },
                    btn2: function(index, layero){
                        layer.closeAll();
                    },
                    cancel:function () {
                        window.location.reload();
                    },
                    end:function () {
                        window.location.reload();
                    }
                });

            });
        }

        //编辑
        add = function(){
            layui.use('layer', function(){
                var layer = layui.layer;
                layer.open({
                    title: ['添加用户信息'],
                    type: 2,
                    content: 'page/newsAdd.html',
                    shadeClose: true,
                    area: ['650px', '550px'],
                    btn: ['确定', '取消'],
                    btn1: function(index, layero){
                        var body = layui.layer.getChildFrame('body', index);
                        var iframeWin = window[layero.find('iframe')[0]['name']];
                        $.ajax({
                            url:"NewsNM/create",
                            type:'POST',
                            data:{
                                'aid':account.data.id,
                                'title':body.find('.title').val(),
                                'writer':body.find('.writer').val(),
                                'content':body.find('.content').val(),
                                'ip':body.find('.ip').val(),
                                'status':body.find('.status').val(),
                                'goods':body.find('.goods').val(),
                                'bads':body.find('.bads').val(),
                                'views':body.find('.views').val(),

                            },
                            dataType:'json',
                            success:function(data){
                                layer.closeAll();
                                if (data.error_code==0){
                                    layer.msg(data.reason);
                                }else {
                                    layer.msg(data.reason);
                                }
                            }
                        });
                    },
                    btn2: function(index, layero){
                        layer.closeAll();
                    },
                    cancel:function () {
                        window.location.reload();
                    },
                    end:function () {
                        window.location.reload();
                    }
                });

            });
        }
    });

</script>

<script>
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#test'
            ,url:'NewsNM/findAll'
            ,toolbar: '#toolbarDemo'
            ,tool: '#barDemo'
            ,title: '新闻数据表'
            ,totalRow: true
            ,cols: [ [
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true, totalRowText: '合计'}
                ,{field:'name', title:'用户名', width:120}
                ,{field:'logo', title:'头像', width:120}
                ,{field:'title', title:'标题', width:120}
                ,{field:'writer', title:'作者', width:120}
                ,{field:'time', title:'发布时间', width:120}
                ,{field:'content', title:'内容', width:120}
                ,{field:'videos', title:'视频', width:120}
                ,{field:'imgs', title:'图片', width:120}
                ,{field:'ip', title:'IP地址', width:120}
                ,{field:'status', title:'新闻状态', width:120}
                ,{field:'views', title:'观看数', width:120}
                ,{field:'goods', title:'好评数', width:120}
                ,{field:'bads', title:'差评数', width:120}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:200},
            ] ]
            ,page: true
        });

        //工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
                ,data = checkStatus.data;
            switch(obj.event){
                case 'add':
                    add();
                    break;
                case 'update':
                    if(data.length === 0){
                        layer.msg('请选择一行');
                    } else if(data.length > 1){
                        layer.msg('只能同时编辑一个');
                    } else {
                        var userdata =  data[0];
                        update(userdata);
                    }
                    break;
                case 'delete':
                    if(data.length === 0){
                        layer.msg('请选择一行');
                    } else {
                        layer.confirm("是否确认删除？",function () {
                            for(var i=0;i<data.length;i++){
                                var uid = data[i].id;
                                console.log(uid);
                                $.ajax({
                                    type:"post",
                                    url:'NewsNM/delete',
                                    data:{
                                        'id':uid,
                                    },
                                    dataType:'json',
                                    success:function(data){
                                        layer.closeAll();
                                        layer.msg(data.reason);
                                        window.location.reload();
                                    }
                                });
                            }
                        });
                    }
                    break;
            };
        });

        //监听工具条
        table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.alert('查看：<br>'+ JSON.stringify(data))
            } else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                    console.log(data);
                    var uid=data.id;
                    console.log(uid);
                    $.ajax({
                        type:"post",
                        url:'NewsNM/delete',
                        data:{
                            'id':uid,
                        },
                        dataType:'json',
                        success:function(data){
                            layer.closeAll();
                            layer.msg(data.reason);
                            window.location.reload();
                        }
                    });
                });
            } else if(obj.event === 'edit'){
                update(data);
            }
        });
    });
</script>
</body>
</html>